.top{

  background: #23B6B6;
  padding:20px;
  margin:20px;
  text-align: center;
}
 h3 {
color :blue;

}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background: #2373AB;
  padding:20px;
  margin:20px;
  color: white;


}

li {
  display: inline;
  color: white;
}
li a {

  color: white;
  text-decoration: none;
  padding-left:10px;

}
form {

  padding:20px;
  margin:20px;
  background: #23B669;
}

.reg {
  padding:5px;
  margin:5px;
  background: #23B6B6;

}
.prog{
display: inline;
background-color: yellow;

}

.submit{
  padding:5px;
  margin:5px;
  background-color: green;

}
.Programmer {

display: inline;
 position: relative;
 padding-left: 35px;
 margin-bottom: 12px;
 cursor: pointer;


}
#rest{

  padding:5px;
  margin:5px;
  background-color: red;


}
